# System environments
PORT = 
NODE_ENV = 
ADMIN_USER = 
ADMIN_PASSWORD = 

# Database environments
DATABASE_URL="postgresql://usuario:contraseña@host:port/nombre_db"

# Security environments
JWT_SECRET_KEY =
JWT_EXPIRATION_TIME =
ENCRYPT_KEY =